In [1]:
import pandas as pd
data=pd.read_csv("./datasets./label_encoding_data.csv")

In [2]:
ydata=data["y"]
ydata
xdata=data.drop(["y","Unnamed: 0"],axis=1)
xdata

,age,job,marital,education,default,housing,loan,pdays,previous,poutcome
0,56,3,1,1,0,0,0,999,0,2
1,57,7,1,4,2,0,0,999,0,2
2,37,7,1,4,0,1,0,999,0,2
3,40,0,1,2,0,0,0,999,0,2
4,56,7,1,4,0,0,1,999,0,2
...,...,...,...,...,...,...,...,...,...,...
41183,73,5,1,6,0,1,0,999,0,2
41184,46,1,1,6,0,0,0,999,0,2
41185,56,5,1,5,0,1,0,999,0,2
41186,44,9,1,6,0,0,0,999,0,2
41187,74,5,1,6,0,1,0,999,1,0

In [3]:
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

x=xdata
y=ydata

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

rf_clf=RandomForestClassifier(random_state=0)
rf_clf.fit(x_train,y_train)
pred=rf_clf.predict(x_test)
accuracy=accuracy_score(y_test,pred)
print("랜덤포레스트 정확도:{0:4f}".format(accuracy))

랜덤포레스트 정확도:0.882253

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

#dt생성
dt_clf=DecisionTreeClassifier(random_state=156)
#테스트셋 분리
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=156)
#학습
dt_clf.fit(X_train,Y_train)
pred=dt_clf.predict(X_test)
accuracy=accuracy_score(Y_test,pred)
print("decisiontree 정확도:{0:4f}".format(accuracy))

decisiontree 정확도:0.868900